<div class="card card-custom">
    <!-- Header -->
    <div class="card-header border-0 pt-5">
        <div class="card-title">
            <div class="card-label">
                <div class="font-weight-bolder">Ultimos Comentarios</div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="card-body d-flex flex-column px-0">
        <!--end::Chart-->
        <!--begin::Items-->
        <div *ngFor="let libro of resultado" class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
            <!--begin::Item-->
            <div class="d-flex align-items-center justify-content-between mb-10">
                <div class="d-flex align-items-center mr-2">
                    <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                        <div class="symbol-label">
                            <div class="symbol-label" style="background-image: url('./assets/media/books/{{libro.imagen}}'); "></div>
                        </div>
                    </div>
                    <div>
                        <a routerLink="/libros/{{libro.idLibro}}" routerLinkActive="active" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">{{libro.nombreLibro}} -  {{libro.nombreUsuario}}</a>
                        <div class="font-size-sm text-muted font-weight-bold mt-1">
                            {{libro.comentario}}
                        </div>
                    </div>
                </div>
                <div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base">
                    <i class="fa fa-star" style="color: #ffd700;">{{libro.puntuacion}}</i>
                </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->

            <!--end::Item-->
        </div>
        <!--end::Stats-->
    </div>

</div>