<div class="row">

    <div class="col-xl-4">

        <app-rankingLibro></app-rankingLibro>

        <div class="row" style="margin-top: 5%;">

            <div class="col-xl-12">

                <app-estadisticasUsuarios></app-estadisticasUsuarios>

            </div>
        </div>

        <div class="row" style="margin-top: 5%;">

            <div class="col-xl-12">

                <app-topUsuarios></app-topUsuarios>
            </div>

        </div>


    </div>


    <div class="col-xl-8">

        <app-ultimosComentarios></app-ultimosComentarios>


        <div class="row" style="margin-top: 5%;">

            <div class="col-xl-12">

                <app-ultimosUsuarios></app-ultimosUsuarios>

            </div>

        </div>


        <div class="row" style="margin-top: 5%;">

            <div class="col-xl-12">

                <app-ultimosLibros></app-ultimosLibros>

            </div>

        </div>



    </div>



</div>