<ng-container>
    <div class="card card-custom card-stretch" [formGroup]="editarUsuarioForm">

        <!-- end::Loading -->
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Informacion Personal</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Actuliza tu informacion personal</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" (click)="editarInformacion();">Guardar cambios</button>
                <button type="reset" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <div class="form">
            <!--begin::Body-->
            <div class="card-body">
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Informacion de Perfil</h5>
                    </div>
                </div>

                <div class="card card-custom card-stretch">

                    <div class="form-group row" style="margin-left: 2%; margin-top: 2%;">
                        <label class="col-xl-3 col-lg-3 col-form-label">Imagen</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="image-input image-input-outline" [style.backgroundImage]="'url(./assets/media/users/'+resultado.imagen+')'">
                                <div class="image-input-wrapper"></div>
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                      <i class="fa fa-pen icon-sm text-muted"></i>
                      <input type="file" name="profile_avatar" formControlName="imagen" accept=".jpg"  />
                    </label>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>

                            </div>
                            <span class="form-text text-muted">La foto tiene que estar en formato .jpg</span>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-left: 2%;">
                        <label class="col-xl-3 col-lg-3 col-form-label">Nombre</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" formControlName="nombreUsuario" value="{{resultado.nombreUsuario}}" type="text" required />
                            <span *ngIf="this.editarUsuarioForm.get('nombreUsuario').errors?.required" style="color: red;"><strong>(El nombre no puede quedar vacío)</strong> </span>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-left: 2%;">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                        <div class="col-lg-9 col-xl-6">
                            <input formControlName="emailUsuario" value="{{resultado.emailUsuario}}" class="form-control form-control-lg form-control-solid" required />
                            <span *ngIf="this.editarUsuarioForm.get('emailUsuario').errors?.required" style="color: red;"><strong>(El email no puede quedar vacío)</strong> </span>
                            <span *ngIf="this.editarUsuarioForm.get('emailUsuario').errors?.email" style="color: red;"> <strong>(El email no es valido)</strong></span>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-left: 2%;">
                        <label class="col-xl-3 col-lg-3 col-form-label">Presentacion</label>
                        <div class="col-lg-9 col-xl-6">
                            <input formControlName="presentacion" value="{{resultado.presentacion}}" class="form-control form-control-lg form-control-solid" required />
                            <span *ngIf="this.editarUsuarioForm.get('presentacion').errors?.required" style="color: red;"><strong>(Debe ingresar una presentacion)</strong> </span>
                        </div>
                    </div>

                </div>




            </div>
            <!--end::Body-->
        </div>
        <!--end::Form-->
    </div>
</ng-container>